<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Store{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <header>
        <h1>{% block header %}My Store{% endblock %}</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/clothes">Clothes</a></li>
            <li><a href="/shoes">Shoes</a></li>
            <li><a href="/jackets">Jackets</a></li>
        </ul>
    </nav>

    <section>
        {% block content %}{% endblock %}
    </section>

    <footer>
        &copy; 2024 My Store. All rights reserved
    </footer>
</body>
</html>